{% extends 'basepage.html' %}

{%block content%} 

<main class="offset-md-3 col-md-8 my-5">
    <div class="container">
        <!--ALGUMA COISA-->
        <div class="row">
            <div class="col-md-12" style="background-color: white; height:100px;">
                oi
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-12" style="background-color: white; height:300px;">
                oi
            </div>
        </div>

    </div>
</main>
    
{%endblock%}